h1, h2 {
    color: rgb(53, 53, 53);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#stor-overskrift {
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

svg, #dataviz {
    margin: auto;
    width: 50%;
    stroke-width: 2;
    background-color: rgb(190, 190, 190);
}
