h1, h2 {
    color: rgba(255, 0, 0, 0.589);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#stor-overskrift {
    padding: 10px;
    color: rgba(0, 255, 255, 0.644);
}

svg {
    stroke: "black";
    stroke-width: 10;
    background-color: rgb(80, 80, 80);
}